<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label >Nom</label>
      <br>
      <input type="text" class="form-control"[(ngModel)]="newHardstyle.name">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label >Chanteur</label>
      <br>
      <input type="text" class="form-control"[(ngModel)]="newHardstyle.singer">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label >Affiche</label>
      <br>
      <input type="text" class="form-control"[(ngModel)]="newHardstyle.picture">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label >Genre</label>
      <br>
      <input type="text" class="form-control"[(ngModel)]="newHardstyle.genre">
    </div>
  </div>
</div>

<div class="text-center"><button class="btn btn-outline-success"(click)="onSaveHardstyle()">Envoyer</button></div>