/* You can add global styles to this file, and also import other style files */
@import'~bootstrap/dist/css/bootstrap.css';

.auteur img{
    width: 60px;
    border-radius: 50%;
}

main{
    width: 70%;
    margin: auto;
}

.bout{
    margin-left: 50%;
    font-size: 200%;
    margin-bottom: 5%;
}

.genre img{
    width: 60px;
    border-radius: 50%;
}

.divii{
    display: flex;
    flex-direction: row;
}
